body{

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 30px;

}

.radiusContainer{

    min-width: 500px;
    min-height: 150px;

    background-color: rgb(255, 164, 45);

    border-radius: 10px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 5px 20px;

}

.blockRadius{

    width: 100px;
    height: 100px;

    background-color: rgb(40, 59, 23);

}

.radiusContent{

    min-width: 370px;
    height: 100px;

    color: black;
    background-color: rgb(226, 226, 216);

    border-radius: 10px;

    display: flex;

    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: larger;

}

.radius1{

    border-radius: 30px;

}

.radius2{

    border-radius: 25% 15%;

}

.radius3{

    border-radius: 10% 15% 30% 80%;

}

.radius4{

    border-radius: 10px 20px / 50% 10%;

}