.ab{

    background-color: aquamarine;
    width: Auto;
    height: 100px;

}


.cd{

    background-color: rgb(171, 8, 8);
    width: auto;
    height: 100px;

}

.de{

    background-color: rgb(71, 25, 10);
    width: auto;
    height: 100px;

}

.ab, .cd, .de{

    display: none;

}

.ab.active, .cd.active, .de.active{

    display: block;

}

nav{

display: flex;
gap: 15px;

}

a{

    font-size: 22px;
text-decoration: none;

}

.a.active, .b.active, .c.active{

    padding: 0px 10px 0px 10px;
 
    border-bottom: 5px solid red;

}